.post_box{
    display:block;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.post-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-left: 70px;
    max-width: 1200px;
    padding: 20px;
  }
  .post-container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 310px;
    min-width: 280px;
    margin-bottom: 20px;
    border: 2px solid #e8fff8;
    border-radius: 25px;
    background-color: var(--color-bg-variant);
  }

.post-container-card:hover {
        border: 1px solid #fafafa;
        box-shadow: 0 0 20px #ada5a5;
    }

@media screen and (max-width: 768px) {
    .post-container {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 10px;
      padding: 10px;
    }
  }